@model User

<div class="container">
  <h1 class="highlight">@Model.Name</h1>
  <p class="highlight">@Model.Id</p>
  <p>@Model.Username</p>
  <p style="display: none;">@Model.Password</p>
  <p>@Model.Role</p>
  <p>@Model.Address</p>
  <p>@Model.Email</p>
  <p>@Model.Phone</p>
  <p>@Model.DateOfBirth</p>
  </div>